/*Style Guide Components
Font Styles:


Color Palette:

*/

hr {
  border: 0;
  height: 1px;
  width: 17%;
  position: relative;
  margin: 30px auto;
}

h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

p {
  font-family: "Montserrat", sans-serif;
}

/*Navigation Bar*/

.logo-image {
  background-color: #fb743e;
  border-radius: 45px;
}

.brand-name {
  font-family: "Mate SC", serif;
  font-size: 30px;
}

.navbar {
  background-color: #383e56;
}

/*Header with background image*/

.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./wilderness-image.jpg");
  background-size: cover;
  background-position: center;
  height: 65vh;
  color: #fb743e;
}

.jumbotron-contact-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("wilderness-image.jpg");
  background-size: cover;
  background-position: center;
  height: 40vh;
  color: #fb743e;
}

.jumbotron-main-header {
  font-family: "Mate SC", serif;
  font-size: 4.9rem;
  text-shadow: 0 1px 0 black;
}

.find-your-wild {
  color: white;
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
}

.wild {
  font-weight: bold;
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
}

.underline--magical {
  background-image: linear-gradient(120deg, #fb743e 0%, #fb743e 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 90%;
  transition: background-size 0.25s ease-in;
}
.underline--magical:hover {
  background-size: 100% 88%;
}

.text-orange {
  color: #fb743e;
}

.nav-link.active {
  color: #fb743e;
}

/*Our Mission Section*/

.mission-section {
  padding-top: 23px;
  margin-bottom: 13px;
  padding-bottom: 30px;
}

.mission-header {
  padding-bottom: 13px;
}
.circle-sketch-highlight {
  position: relative;
}
.circle-sketch-highlight:before {
  content: "";
  z-index: -1;
  left: -0.5em;
  top: -0.1em;
  border-width: 2px;
  border-style: solid;
  border-color: #fb743e;
  position: absolute;
  border-right-color: transparent;
  width: 100%;
  height: 1em;
  transform: rotate(2deg);
  opacity: 0.7;
  border-radius: 50%;
  padding: 0.1em 0.25em;
}
.circle-sketch-highlight:after {
  content: "";
  z-index: -1;
  left: -0.5em;
  top: 0.1em;
  padding: 0.1em 0.25em;
  border-width: 2px;
  border-style: solid;
  border-color: #fb743e;
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  width: 100%;
  height: 1em;
  transform: rotate(-1deg);
  opacity: 0.7;
  border-radius: 50%;
}

.sunset-image {
  max-width: 90%;
  max-height: 90%;

  position: relative;
  background: white;

  color: white;
}

/*
.sunset-image:hover {
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
}

Types of Adventures Offered - Bootstrap Cards*/
/*
.adventure-types-section {
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  color: white;
}
*/

.adventure-types-section-header {
  text-align: center;
  vertical-align: middle;
}

.adventure-types-cards {
  justify-content: center;
}

/*Why Choose PNW Adventures*/
/*insert style code here*/

.why-us-section {
  padding-top: 41px;
}

/*Testimonials Section - Bootstrap Carousel*/
.testimonial-bg {
  border: 10px solid #fb743e;
  padding: 80px 70px;
  text-align: center;
  position: relative;
}
.testimonial-bg:before {
  font-family: "Font Awesome 5 Free";
  content: "\f10d";
  font-weight: 900;
  width: 75px;
  height: 75px;
  line-height: 75px;
  background: white;
  text-align: center;
  font-size: 50px;
  color: #3c414c;
  position: absolute;
  top: -40px;
  left: 2%;
}
.testimonial {
  padding: 0 15px;
}
.testimonial .description {
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  color: #848484;
  line-height: 30px;
  padding-bottom: 25px;
  margin-bottom: 15px;
  position: relative;
}
.testimonial .description:before {
  content: "";
  width: 75%;
  border-top: 1px solid #ddd;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.testimonial .description:after {
  content: "";
  width: 20px;
  height: 20px;
  background: #fff;
  position: absolute;
  bottom: -10px;
  left: 50%;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  transform: translateX(-50%) rotate(45deg);
}
.testimonial .pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 25px auto;
  overflow: hidden;
}
.testimonial .pic img {
  width: 100%;
  height: auto;
}
.testimonial .title {
  display: inline-block;
  font-size: 23px;
  font-weight: 700;
  color: #848484;
  text-transform: capitalize;
  margin: 0;
}
.testimonial .post {
  display: inline-block;
  font-size: 20px;
  color: #848484;
}
.owl-theme .owl-controls {
  background: #fff;
  margin-top: 10px;
  position: absolute;
  bottom: -43%;
  right: 0;
}
.owl-theme .owl-controls .owl-buttons div {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  background: #34363b;
  opacity: 1;
  padding: 0;
}
.owl-prev:before,
.owl-next:before {
  font-family: "Font Awesome 5 Free";
  content: "\f104";
  font-size: 23px;
  font-weight: 700;
  color: white;
}
.owl-next:before {
  content: "\f105";
}
@media only screen and (max-width: 767px) {
  .testimonial-bg {
    padding: 50px 40px;
  }
  .owl-theme .owl-controls {
    bottom: -22%;
  }
}
@media only screen and (max-width: 480px) {
  .testimonial-bg:before {
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 40px;
  }
  .testimonial-bg {
    padding: 30px 10px;
  }
  .owl-theme .owl-controls {
    bottom: -15%;
  }
}
@media only screen and (max-width: 360px) {
  .testimonial .title,
  .testimonial .post {
    font-size: 16px;
  }
  .owl-theme .owl-controls {
    bottom: -12%;
  }
}

/*Call to Action Section*/

.cta-section {
  background-color: #fb743e;
  color: white;
}

.cta-header {
  font-family: "Mate SC", serif;
  font-size: 3.5rem;
  padding-top: 41px;
  padding-bottom: 21px;
}
.cta-buttons {
  padding-bottom: 23px;
}
.cta-btn {
  border-radius: 3rem;
}

.cta-book-btn {
  margin-right: 13px;
}

.cta-contact-btn {
  margin-left: 13px;
}

/*Footer Section*/
.footer-wrap {
  padding-top: 43px;
  background-size: cover;
}

.footer-wrap h3 {
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.footer-wrap p {
  font-size: 13px;
  line-height: 24px;
  color: #b3b3b3;
  margin-top: 15px;
}

.footer-wrap p a {
  color: #fff;
  text-decoration: underline;
  font-style: italic;
}

.footer-wrap p a:hover {
  text-decoration: none;
  color: #ff7800;
}

.footer-links li a {
  font-size: 13px;
  line-height: 30px;
  color: #ccc;
  text-decoration: none;
}

.footer-links li:before {
  content: "\f105";
  font-family: "FontAwesome";
  padding-right: 10px;
  color: #ccc;
}

.footer-category li a {
  font-size: 13px;
  line-height: 30px;
  color: #ccc;
  text-decoration: none;
}

.footer-category li:before {
  content: "\f105";
  font-family: "FontAwesome";
  padding-right: 10px;
  color: #b3b3b3;
}

.address {
  color: #b3b3b3;
  font-size: 14px;
  position: relative;
  padding-left: 30px;
  line-height: 30px;
}

.address:before {
  content: "\f277";
  font-family: "FontAwesome";
  position: absolute;
  top: 0;
  left: 0;
}

.info a {
  color: #b3b3b3;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
}

.fa-phone:before {
  content: "\f095";
}

.info a {
  color: #b3b3b3;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
}

.fa-fax:before {
  content: "\f1ac";
}

.copyright {
  border-top: 1px solid #111;
  font-size: 14px;
  color: #ccc;
  padding-top: 15px;
  text-align: center;
  padding-bottom: 15px;
  background: #222;
}
footer .second_class {
  border-bottom: 1px solid #444;
  padding-bottom: 25px;
}
footer .first_class {
  padding-bottom: 21px;
  border-bottom: 1px solid #444;
}
footer .first_class p,
footer .first_class h3 {
  margin: 0 0;
}
footer {
  background: #333;
}

footer .newsletter input[type="text"] {
  width: 100%;
  background: #fff;
  color: #333;
  border: 1px solid #222;
  padding: 14px 20px;
  border-radius: 50px;
  margin-top: 12px;
}

.newsletter .newsletter_submit_btn {
  background: #fff;
  position: absolute;
  right: 30px;
  border: 0;
  top: 26px;
  font-size: 17px;
  color: #333;
}

footer .second_class_bdr {
  padding-top: 25px;
  border-top: 1px solid #222;
}

footer .btn-facebook a {
  padding: 6px 14px !important;
}

footer .btn-envelop a {
  color: #d6403a;
  font-size: 15px;
  padding: 12px 12px;
}

footer .round-btn a {
  padding: 6px 12px;
}

footer .round-btn {
  box-shadow: 2px 2px 5px 0px #222 !important;
}

footer .round-btn {
  margin: 15px 4px;
}

footer dl,
ol,
ul {
  padding-left: 5px;
}
footer li {
  list-style: none;
}

@media (max-width: 768px) {
  .footer-wrap h3 {
    margin-top: 27px;
  }

  footer .round-btn {
    margin: 15px 4px;
  }
}
@media (max-width: 320px) {
  .copyright {
    font-size: 13px;
  }
}
/*Social Links*/
.round-btn {
  display: inline;
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 50%;
  float: left;
  margin: 15px 8px;
  box-shadow: 2px 2px 5px 0px rgb(82, 0, 67);
  border: 1px solid; /*border: 1px solid #622657;*/
}
.round-btn a {
  display: block !important;
  padding: 7px 12px;
  font-size: 18px;
  border-radius: 50%;
}
.round-btn .icon {
  padding: 3px;
}
.round-btn .icon img {
  height: 24px;
  width: 32px;
  margin-top: 6px;
}
.btn-facebook a {
  color: #3b5998;
  padding: 8px 13px;
}
.btn-linkedin a {
  color: #007bb6;
}
.btn-twitter a {
  color: #1c9deb;
}
.btn-instagram a {
  color: #dd3f5c;
}
.btn-whatsapp a {
  color: #155e54;
}
.btn-envelop a {
  color: #d6403a;
  font-size: 15px;
  padding: 9px 12px;
}
.standard_header .standard_social_links {
  margin-left: 1rem;
}

/*Guides Page*/

.jared-pic,
.alex-pic {
  object-fit: cover;
  border: 8px solid #fb743e;
  border-radius: 50%;
}

.jared-pic,
.alex-pic {
  width: 350px;
  height: 350px;
}

.team-photo {
  object-fit: cover;
  width: 400px;
  height: 400px;
}
/*FAQs page*/

.contact-container {
  background-color: #fb743e;
  border-radius: 0.5rem;
  color: white;
  font-family: "Raleway", sans-serif;
  opacity: 0.87;
}

.btn-secondary {
  font-family: "Montserrat", sans-serif;
}
